<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="http://localhost:4200/assets/css/style.css">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Reset Password</header>
      <span class="red">{{showError}}</span>
      <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
            <input type="password" placeholder="Enter your password" formControlName="password">
                <div *ngIf="resetPassForm.get('password')?.invalid && (resetPassForm.get('password')?.dirty || resetPassForm.get('password')?.touched)">
                    <div *ngIf="resetPassForm.get('password')?.errors?.['required']"><p class="red">The password field is required.</p></div>
                    <div *ngIf="!resetPassForm.get('password')?.errors?.['required'] && resetPassForm.get('password')?.errors?.['minlength']"><p class="red">Password must be at least 8 characters long.</p></div>
                </div>
                <p class="red" *ngIf="!resetPassForm.get('password')?.errors?.['minlength']">{{passwordError}}</p>

            <input type="password" placeholder="Confirm password" formControlName="conf_password">

              <div *ngIf="!resetPassForm.get('password')?.errors?.['minlength'] && resetPassForm.get('conf_password')?.errors?.['passwordMismatch']"><p class="red"> Passwords do not match..</p></div>

            <a routerLink="/forgot-password">Forgot password?</a>
            <input type="submit" class="button" value="Reset Password">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <label for="check"><a routerLink="/">Signup</a></label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
